<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="DataGeneratorSQL.Properties.Settings.ConnectionString"
            connectionString="Provider=SQLNCLI11;Data Source=.\sqlexpress;Integrated Security=SSPI;Initial Catalog=Test1S"
            providerName="System.Data.OleDb" />
    </connectionStrings>
</configuration>