<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <add key="каталогБД" value="C:\Проекты\1С\Тестовая база 1С"/>
    <add key="количествоКомпаний" value="10"/>
    <add key="количествоПродукции" value="10"/>
  </appSettings>
  
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
  </startup>
</configuration>
